{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
<h2>Vous avez bien supprimé l'annonce.</h2>
<br>
<button type="button" class="btn btn-dark"><a href="{{path('account')}}" style="text-decoration: none; color: white;">Retour</a></button>

{% endblock %}
