{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
<h1>Dashboard</h1>

<h2>Hello {{user.firstName}}</h2>

<a href="{{path('create')}}">Create</a>

<a href="/logout">Log Out</a>

{% endblock %}
